@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 none;
  outline: none;
}

body {
  min-height: 100vh;
  line-height: 1;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

form,
input,
button,
option,
textarea {
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
}

table,
thead,
tfoot,
tbody,
tr,
th,
td {
  border-collapse: collapse;
  border-spacing: 0;
  appearance: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:visited {
  text-decoration: none;
}

.header {
  width: 100%;
  position: relative;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 1256px) {
  .header__container {
    width: 1170px;
  }
}
@media screen and (max-width: 1170px) {
  .header__container {
    width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .header__container {
    width: 750px;
  }
}
@media screen and (max-width: 750px) {
  .header__container {
    width: 100%;
  }
}
@media screen and (max-width: 730px) {
  .header__container {
    justify-content: center;
  }
}
.header__logo {
  display: block;
  position: relative;
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #1C2A39;
}
@media screen and (max-width: 730px) {
  .header__logo {
    margin-bottom: 20px;
  }
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 730px) {
  .header__menu {
    margin-bottom: 20px;
  }
}
.header__menu li {
  margin: 0 20px;
}
@media screen and (max-width: 430px) {
  .header__menu li {
    width: 100%;
    margin: 20px 0;
  }
}
.header__menu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #5C6A79;
}
.header__menu li a:hover {
  font-weight: 900;
}
.header__menu li a.header__menu--active {
  font-weight: 900;
}
.header__icon {
  display: block;
  position: relative;
  float: left;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.header__icon--user {
  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.header__icon--search {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.header__icon--shop {
  background-image: url("../img/icons/shop_bag.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.slider__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1256px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 1256px) {
  .slider__container {
    width: 1170px;
  }
}
@media screen and (max-width: 1170px) {
  .slider__container {
    width: 968px;
  }
}
@media screen and (max-width: 968px) {
  .slider__container {
    width: 750px;
  }
}
@media screen and (max-width: 750px) {
  .slider__container {
    width: 100%;
  }
}
.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 702px;
  overflow: hidden;
  position: relative;
}
.slider__item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  box-shadow: none;
  opacity: 0;
  transition: all 0.7s;
}
.slider__item img {
  width: 100%;
  height: 100%;
}
.slider__item.active {
  opacity: 1;
}
.slider__dots {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.slider__dots--item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: 0.4s all;
}
.slider__dots--item:hover, .slider__dots--item.active {
  background-color: #000000;
}

/*# sourceMappingURL=styles.css.map */
