/* Error: Expected whitespace.
 *     ,
 * 197 |   @media screen and(max-width: 1560px) {
 *     |                    ^
 *     '
 *   slider\_slider.scss 197:20  @import
 *   styles.scss 3:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 197 \2502    @media screen and(max-width: 1560px) {\d\a     \2502                     ^\a     \2575 \a   slider\\_slider.scss 197:20  @import\a   styles.scss 3:9             root stylesheet";
}
